beautifulsoup4==4.11.1
cvxpy==1.6.0
empyrical==0.5.5
full_fred==0.1
httpx==0.28.1
ipython==8.12.3
joblib==1.4.2
lightgbm==3.3.2
matplotlib==3.5.2
numpy==1.23.1
openai==1.109.1
openpyxl==3.1.1
pandas==1.4.3
plotly==6.3.0
quandl==3.7.0
Requests==2.32.5
scikit_learn==1.1.2
scipy==1.9.0
selenium==4.35.0
setuptools==75.3.0
statsmodels==0.13.2
tenacity==8.2.3
tqdm==4.64.0
urllib3==2.5.0
pyarrow==21.0.0
sentence_transformers==5.1.1
yfinance==0.2.66
rapidfuzz==3.13.0
umap-learn==0.5.9.post2